<?xml version='1.0' encoding='utf-8'?>
<widget id="com.smartinfologiks.trellotodos" version="1.2.0" versionCode="000000" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Trello Todos</name>
    <description>
        SmartinfoLogiks - App to manage all day to day todos.
    </description>
    <author email="admin@smartinfologiks.com" href="http://smartinfologiks.com">
        SmartinfoLogiks Team
    </author>
    <icon height="100" src="/icon.png" width="100" />
    <icon height="30" src="/media/logos/logox30.png" width="30" />
    <icon height="57" src="/media/logos/logox57.png" width="57" />
    <icon height="60" src="/media/logos/logox60.png" width="60" />
    <icon height="72" src="/media/logos/logox72.png" width="72" />
    <icon height="76" src="/media/logos/logox76.png" width="76" />
    <icon height="100" src="/media/logos/logox100.png" width="100" />
    <icon height="114" src="/media/logos/logox114.png" width="114" />
    <icon height="120" src="/media/logos/logox120.png" width="120" />
    <icon height="152" src="/media/logos/logox152.png" width="152" />
    <icon height="160" src="/media/logos/logox160.png" width="160" />
    <icon height="250" src="/media/logos/logox250.png" width="250" />
    <preference name="SplashScreen" value="/media/splash/apploader.gif" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="3000" />
    <platform name="android">
        <splash density="land-hdpi" src="/media/logos/logox152.png" />
        <splash density="land-ldpi" src="/media/logos/logox152.png" />
        <splash density="land-mdpi" src="/media/logos/logox152.png" />
        <splash density="land-xhdpi" src="/media/logos/logox152.png" />
        <splash density="port-hdpi" src="/media/logos/logox152.png" />
        <splash density="port-ldpi" src="/media/logos/logox152.png" />
        <splash density="port-mdpi" src="/media/logos/logox152.png" />
        <splash density="port-xhdpi" src="/media/logos/logox152.png" />
    </platform>
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="ios-package" value="CDVSplashScreen" />
    </feature>
    <preference name="KeepRunning" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="ShowTitle" value="true" />
    <preference name="LogLevel" value="VERBOSE" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="TopActivityIndicator" value="white" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="target-device" value="universal" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
      <preference name="android-targetSdkVersion" value="28" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/battery" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/contacts" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/media" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/notification" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
    <gap:plugin name="org.apache.cordova.media" version="0.2.13" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
    <gap:plugin name="cordova-plugin-geolocation" source="pgb" version="2.2.0" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
    <gap:plugin name="cordova-plugin-screen-orientation" source="npm" version="*" />
    <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" version="5.2.0" />
    <gap:plugin name="cordova-plugin-app-version" source="pgb" version="0.1.9" />
    <gap:plugin name="cordova.plugins.diagnostic" source="npm" version="0.1.9" />
    <engine name="android" spec="^6.4.0" />
</widget>
